@inherits LayoutComponentBase

<Layout Style="min-height: 100vh; " >
    <Sider Collapsible Width="240" Collapsed=@collapsed OnCollapse=@onCollapse>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1">
                <Icon Type="home" Theme="outline" />
                <span>
                    <a href="#">داشبورد</a>
                </span>
            </MenuItem>
            @{
                RenderFragment sub1Title =
                @<span>
                    <Icon Type="user" Theme="outline" />
                    <span>مدیر</span>
                </span>
                ;
            }
            <SubMenu Key="sub1" TitleTemplate="sub1Title" Class="rounded">
                <MenuItem Key="2">
                    <a href="/dashboard/admins/create">
                        ثبت مدیر
                    </a>
                </MenuItem>
                <MenuItem Key="3">
                    <a href="/dashboard/admins/list">
                        لیست مدیر
                    </a>
                </MenuItem>
            </SubMenu>

            @{
                RenderFragment sub2Title =
                @<span>
                    <Icon Type="unordered-list" Theme="outline" />
                    <span>دسته بندی</span>
                </span>
                ;
            }
            <SubMenu Key="sub2" TitleTemplate="sub2Title" Class="rounded">
                <MenuItem Key="4">
                    <a href="/dashboard/categories/create">
                        ثبت دسته بندی
                    </a>
                </MenuItem>
                <MenuItem Key="5">
                    <a href="/dashboard/categories/list">
                        لیست دسته بندی ها
                    </a>
                </MenuItem>
            </SubMenu>

            @{
                RenderFragment sub3Title =
                @<span>
                    <Icon Type="tags" Theme="outline" />
                    <span>برچسب</span>
                </span>
                ;
            }
            <SubMenu Key="sub3" TitleTemplate="sub3Title" Class="rounded">
                <MenuItem Key="6">
                    <a href="/dashboard/tags/create">
                        ایجاد برچسب
                    </a>
                </MenuItem>
                <MenuItem Key="7">
                    <a href="/dashboard/tags/list">
                        لیست برچسب ها
                    </a>
                </MenuItem>
            </SubMenu>

            @{
                RenderFragment sub4Title =
                @<span>
                    <Icon Type="file-search" Theme="outline" />
                    <span>خبر</span>
                </span>
                ;
            }
            <SubMenu Key="sub4" TitleTemplate="sub4Title" Class="rounded">
                <MenuItem Key="8">
                    <a href="/dashboard/news/create">
                        ثبت خبر
                    </a>
                </MenuItem>
                <MenuItem Key="9">
                    <a href="/dashboard/news/list">
                        لیست اخبار
                    </a>
                </MenuItem>
                <MenuItem Key="10">
                    <a href="/dashboard/news/comments">
                        لیست نظرات
                    </a>
                </MenuItem>
            </SubMenu>
             <MenuItem Key="11">
                <Icon Type="setting" Theme="outline" />
                <span>
                <a href="#">تنظیمات</a>

                </span>
            </MenuItem>
            <MenuItem Key="12">
                <Icon Type="logout" Theme="outline" />
                <span>
                    <a href="#">
                    خروج
                </a>
                </span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="header shadow">
           @if (collapsed)
            {
                <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
            }
            else
            {
                <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
            }
        </Header>
        <Content Class="p-4 content">
            <div class="container shadow rounded pt-1 pb-1 pr-3 pl-3 bg-white">
                @Body
            </div>
        </Content>
        <Footer Class="footer">
            <h6>پنل مدیریت</h6>
            <p class="m-0">دوره آموزشی سایت خبری ، تاپ لرن</p>
        </Footer>
    </Layout>
</Layout>


@code {
    bool collapsed;

    void onCollapse(bool collapsed)
    {
        this.collapsed = collapsed;
    }
     void toggle()
    {
        collapsed = !collapsed;
    }
}
