@page "/"

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>User</BreadcrumbItem>
    <BreadcrumbItem>Bill</BreadcrumbItem>
</Breadcrumb>
<div class="site-layout-background" style="padding: 24; min-height: 360px">
    Bill is a cat.
</div>